################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/WeatherServiceTest/bin
/WeatherServiceTest/obj/Debug
/WeatherService/obj/Debug
